ignore-scripts=false
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=esbuild
only-built-dependencies[]=node-pty
patched-dependencies[@radix-ui/react-compose-refs@1.1.2]=patches/@radix-ui__react-compose-refs@1.1.2.patch
